@import 'vars';
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
body, html{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  color:$black;
}

p{
  line-height:1.4em;
  margin-bottom:25px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
  max-width:100%;
}

h1{
  font-size:50px;
  font-weight: 600;
}

h2{
  font-weight: 600;
  font-size:40px;
  line-height:1.2em;
}

h3{
  font-weight: 600;
}

ul{
  li{
    position:relative;
    padding-left:30px;
    margin:15px 0;
    line-height:1.4em;
    &:before{
      content:"";
      width:10px;
      height:10px;
      background-color:$green;
      position:absolute;
      left:0;
      border-radius:50%;
      top:10px;
      
    }
  }
}

.btn-cta, .show-more-list{
  text-decoration: none;
  border:1px solid $green;
  padding:15px 30px;
  font-weight: 600;
  display:inline-block;
  margin:10px 0;
  color:$green;
  font-size:18px;
}

.show-more-list{
  font-weight:300;
  padding-right:50px;
  margin-top:30px;
}

#header{
  padding-top:clamp(20px, 3vw, 40px);
}

#footer{
  background: linear-gradient(to right, #040405 50%,#040405 50%,#54d6c6 50%);
  padding-top:clamp(20px, 4vw, 70px);
  padding-bottom:clamp(20px, 4vw, 70px);
  .col-newsletter{
    padding-left:80px;
    *{
      color:#fff;
    }
    h2{
      padding-bottom:20px;
    }
    form{
      input[type=email]{
        width:100%;
        display:block;
        padding:15px;
        border:none;
      }
      .checkbox.subfield{
        font-size:14px;
        padding-top:10px;
        display:block;
        input{
          border:0;
        }
      }
      input[type=submit]{
        display:inline-block;
        margin-top:30px;
        border:1px solid #fff;
        background-color:transparent;
        padding:15px;
        font-weight: 600;
        font-family: 'Montserrat';
      }
    }
  }
  .xxss{
    padding-top:30px;
    display:flex;
    li{
      padding:10px;
      &:before{
        display:none;
        padding-left:0;
      }
    }
  }
}

.basic-page{
  #header{
    background:url('../img/fons.jpg') no-repeat center center;
    background-size:cover;
    min-height:600px;
  }
  #main{
    margin-top:-400px;
  }
  .paragraph-grafic{
    h2{
      text-align: center;
    }
  }
}

.header-basic-page{
  padding-bottom:80px;
  *{
    color:#fff;
    text-align: center;
  }
  h1{
    padding-bottom:30px;
    text-transform: uppercase;
  }
  
}