@import 'vars';
@media screen and (max-width:767px){
  body, html{
    font-size:18px;
  }
  h2{
    font-size: 25px;
  }
  h1{
    font-size:40px;
    line-height:45px;
  }
  .paragraph-actualidad-home h3{
    font-size:20px;
  }
  .paragraph-header-home .pre-title{
    font-size:45px;
    span{
      font-size:30px;
    }
  }
  #footer{
    background: $black;
    .col-newsletter{
      padding-top:30px;
    }
  }

  .paragraph-image-text {

    margin-bottom:20px;
    .col-image{
      margin:30px 0;
      order:10;
    }
  }
  .paragraph-list-desplegable{
    .list{
      ul{
        flex-direction: column;
        li{
          width:100%;
        }
      }
    }
  }

  .paragraph-partners{
    .slick-prev, .slick-next{
      display:none!important;
    }
  }

  #footer{
    .col-newsletter{
      padding-left:15px;
      padding-bottom:40px;
    }
    .xxss{
      padding-top:10px;
    }
  }
  .menu-legal {
    padding-bottom:20px;
  }
}